<div>
    <h1>Analisis de datos</h1>
</div>

<form class="form">

    <div>
        <h2>Agregar rutas a Sucursal</h2>
        <h3>Parametros inciales</h3>
    </div>

    <!-- Textbox para indicar la Sucursal Origen -->
    <div class="form-group">
        <label for="sucursal">Sucursal Origen:</label>
        <select id="sucursal" name="sucursal" [(ngModel)]="sucursalForm" class="form-control">
          <option *ngFor="let sucursal of sucursalesSelect" [ngValue]="sucursal.idSucursal">{{sucursal.idSucursal}},{{sucursal.nombre}},{{sucursal.municipio.nombre}},{{sucursal.departamento.nombre}}</option>
        </select>
    </div>


    <div>
        <h3>Parametros de rutas</h3>
    </div>

    <div *ngFor="let sucursal of sucursales; let i = index">
        <!-- Combobox para seleccionar sucursal -->
        <div class="form-group">
          <label for="sucursal{{i}}">Sucursal {{i + 1}}:</label>
          <select id="sucursal{{i}}" name="sucursal{{i}}" [(ngModel)]="sucursales[i]" class="form-control">
            <option *ngFor="let sucursal of sucursalesSelect" [ngValue]="sucursal.idSucursal">{{sucursal.idSucursal}},{{sucursal.nombre}},{{sucursal.municipio.nombre}},{{sucursal.departamento.nombre}}</option>
          </select>
        </div>
      
        <!-- Textbox para indicar la distancia -->
        <div class="form-group">
          <label for="distancia{{i}}">Distancia {{i + 1}}:</label>
          <input type="text" id="distancia{{i}}" name="distancia{{i}}" [(ngModel)]="distancias[i]" class="form-control">
        </div>
      
        <!-- Botón para quitar la sucursal actual -->
        <button type="button" (click)="quitarSucursal(i)" class="btn btn-danger quitar">Quitar Sucursal</button>
    </div>
  
    <div>
        <!-- Botón para agregar más sucursales -->
        <button type="button" (click)="agregarSucursal()" class="btn btn-success agregar">Agregar Sucursal</button>
    </div>
  
    <div>
        <!-- Botón para enviar el formulario (puedes agregar lógica según tus necesidades) -->
        <button type="button" (click)="enviarFormulario()" class="btn btn-primary enviar">Enviar</button>
    </div>
</form>

<br/>
<br/>

<div class="prediccion">
    <h1>Prediccion de datos</h1>

    <div>
        <h2>Descripcion de la prediccion</h2>
        <p>
            {{descripcion}}
        </p>
        <h3>Recomendacion ante la prediccion</h3>
        <p>
            {{descripcion}}
        </p>
    </div>

    <div>
        <h2>Graficos de la prediccion</h2>

        <div class="graph">
            <h3>Datos predecidos a 1 año</h3>
            <ngx-charts-number-card
            [results]="datos"
            [view]="view"
            [cardColor]="cardColor"            
            >
            </ngx-charts-number-card>
        </div>

        <div class="graph">
            <h3>Grafico de ganancias y gastos</h3>
            <ngx-charts-line-chart
              [view]="view2"              
              [legend]="legend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxis]="xAxis"
              [yAxis]="yAxis"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              [timeline]="timeline"
              [results]="multiDatos"
              (select)="onSelect($event)"
              (activate)="onActivate($event)"
              (deactivate)="onDeactivate($event)"
              >
            </ngx-charts-line-chart>
        </div>
    </div>
</div>

