<div [ngClass]="{'light-mode': !isDarkMode, 'dark-mode': isDarkMode}">
    <!-- Botón de deslizamiento para cambiar entre modos -->
    <div class="toggle-container">
        <label class="switch">
          <input type="checkbox" (change)="toggleDarkMode()">
          <span class="slider round"></span>
        </label>
        <span>{{ isDarkMode ? 'Dark Mode' : 'Light Mode' }}</span>
      </div>
<form [formGroup]="createShipForm" (ngSubmit)="onSubmit()" >

    <div class="container">
        <br><br><br><br><br>
            <!-- Otros campos de formulario si los tienes -->
            <div class="centered-content" formGroupName="ships">

                <h2>Crear envio</h2>
                <table class="table">

                    <tbody>

                        <tr>
                          <th>
                            Nit emisor:
                            <input id="nombre_emisor" type="text" class="form-control" formControlName="nit_emisor" (blur)="buscarPersonaEmisor()">
                            Nombre:
                            <label [textContent]="nombre_emisor">Nombre:</label>
                          </th>
                          <th>
                            Nit receptor:
                            <input id="nombre_receptor" type="text" class="form-control"  formControlName="nit_receptor" (blur)="buscarPersonaReceptor()">
                            Nombre:
                            <label [textContent]="nombre_receptor"></label>
                            </th>
                        </tr>

                        <tr>
                            <th>
                                Sucursal Origen:
                                <select class="custom-select" id="sucursal_origen_id" formControlName="sucursal_origen_id">
                                    <option *ngFor="let sucursal of sucursales" [ngValue]="sucursal.idSucursal">{{sucursal.nombre}}</option>
                                </select>
                            </th>
                            <th>
                                Sucursal Destion:
                                <select class="custom-select" id="sucursal_destino_id" formControlName="sucursal_destino_id">
                                  <option *ngFor="let sucursal of sucursales" [ngValue]="sucursal.idSucursal">{{sucursal.nombre}}</option>
                                </select>
                            </th>
                        </tr>
                        <br>
                        <tr>
                            <th>
                                Cantidad de paquetes:
                            </th>
                            <th >
                                <input type="number" class="form-control" min="1" step ="1" formControlName="cantidad_paquetes">
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Peso (lb):
                            </th>
                            <th >
                                <input type="number" class="form-control" min="0.00" step ="1.00" formControlName="peso">
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Fecha Envio:
                            </th>
                            <th >
                                <input type="date" class="form-control" formControlName="peso">
                            </th>
                        </tr>








                        <tr>
                            <th></th>
                            <th><button class="btn btn-info"  type="submit" [disabled]="createShipForm.invalid">Enviar</button></th>
                        </tr>









                    </tbody>
                  <label>{{resultado}}</label>
                </table>



            </div>
            <app-map></app-map>


    </div>

    </form>
    </div>
