<form [formGroup]="sucursalForm" (ngSubmit)="onSubmit()">

    <div class="container">
        <br><br><br><br><br>
            <!-- Otros campos de formulario si los tienes -->
            <div class="centered-content" formGroupName="sucursal">
                <h2>Agregar sucursal</h2>

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <br>
                        </tr>
                        <tr>
                            <th>
                                Nombre:
                            </th>
                            <th >
                                <input type="text" class="form-control" required  formControlName="nombre" placeholder="Sucursal x">
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Direccion:
                            </th>
                            <th >
                                <input type="text" class="form-control" required formControlName="direccion" placeholder="7 calle 7-31 zona1">
                            </th>
                        </tr>

                        <tr>
                            <th>
                                Departamento:
                            </th>
                            <th >
                                <select  class="custom-select" id="departamento_id" (change)="getMunicipiosByDeptoId($event)" required formControlName="departamento_id">
                                    <option *ngFor="let depto of departamentos"  [value]="depto.id">{{depto.nombre}}</option>

                                </select>
                            </th>
                        </tr>

                        <tr>
                            <th>
                                Municipio:
                            </th>
                            <th >
                                <select  class="custom-select" id="municipio_id"  required formControlName="municipio_id">
                                    <option *ngFor="let muni of municipios"  [value]="muni.id">{{muni.nombre}}</option>

                                </select>
                            </th>
                        </tr>

                        <tr>
                            <th>
                                Es enlace:
                            </th>
                            <th >
                                <select  class="custom-select" id="esEnlace"  required formControlName="esEnlace">
                                    <option   [value]="true">SI</option>
                                    <option   [value]="false">NO</option>

                                </select>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Estado:
                            </th>
                            <th >
                                <select  class="custom-select" id="estado"  required formControlName="estado">
                                    <option   [value]="true">ACTIVA</option>
                                    <option   [value]="false">INACTIVA</option>

                                </select>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Latitud:
                            </th>
                            <th >
                                <input type="number" class="form-control"  formControlName="latitud" placeholder="14.824323">
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Longitud:
                            </th>
                            <th >
                                <input type="number" class="form-control"  formControlName="longitud" placeholder="-91.510139">
                            </th>
                        </tr>



                        <tr>
                            <th></th>
                            <th><button class="btn btn-info"  type="submit">Enviar</button></th>
                        </tr>

                        <tr>
                            <div *ngIf="flag == 2" class="alert alert-success" role="alert">
                                <h4 class="alert-heading">Bien hecho!</h4>
                                <p>Envio exitoso</p>
                                <hr>
                                <p class="mb-0"></p>
                              </div>
                              <div *ngIf="flag == 1" class="alert alert-danger" role="alert">
                                <h4 class="alert-heading">Llena los todos los campos!</h4>
                                <p>sin enviar</p>
                                <hr>
                                <p class="mb-0"></p>
                              </div>

                        </tr>








                    </tbody>
                </table>



            </div>
            <app-map></app-map>


    </div>

    </form>
