<form class="form">

    <div>
        <h2>Analizar Sucursal</h2>
        <h3>Parametros inciales</h3>
    </div>

    <div class="form-group">
        <label for="sucursal">Sucursal:</label>
        <select id="sucursal" name="sucursal" [(ngModel)]="sucursalForm" class="form-control">
          <option *ngFor="let sucursal of sucursalesSelect" [ngValue]="sucursal.idSucursal">{{sucursal.idSucursal}},{{sucursal.nombre}},{{sucursal.municipio.nombre}},{{sucursal.departamento.nombre}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="fechaAnalizar">Fecha Limite</label>
        <input type="date" id="fechaAnalizar" name="fechaAnalizar" [(ngModel)]="fechaAnalizar" class="form-control" required>
    </div>
  
    <div>
        <!-- Botón para enviar el formulario (puedes agregar lógica según tus necesidades) -->
        <button type="button" (click)="enviarFormulario()" class="btn btn-primary enviar">Enviar</button>
    </div>
</form>

<br/>
<br/>

<div class="prediccion">
    <h1>Reporte de movimientos de sucursal</h1>

    <div>        
        <div class="graph">
            <h3>Datos generales</h3>
            <ngx-charts-number-card
            [results]="datos"
            [view]="view"
            [cardColor]="cardColor"            
            >
            </ngx-charts-number-card>
        </div>

        <div class="graph">
            <h3>Grafico de ganancias y gastos</h3>
            <ngx-charts-line-chart
              [view]="view2"              
              [legend]="legend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxis]="xAxis"
              [yAxis]="yAxis"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              [timeline]="timeline"
              [results]="multiDatos"
              (select)="onSelect($event)"
              (activate)="onActivate($event)"
              (deactivate)="onDeactivate($event)"
              >
            </ngx-charts-line-chart>
        </div>
    </div>
</div>