

    <div class="container">
        <br><br><br><br><br>

            <div class="centered-content" >
                <h2>Listar y editar sucursal</h2>

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Direccion</th>
                            <th>Municipio</th>
                            <th>Departamento</th>
                            <th>Longitud</th>
                            <th>latitud</th>
                            <th>Enlace&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                            <th>Estado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <br>
                        </tr>
                        <tr *ngFor="let sucursal of sucursales">
                            <th>
                                {{sucursal.idSucursal}}
                            </th>
                            <th>
                                {{sucursal.nombre}}
                            </th>
                            <th>
                                {{sucursal.direccion}}
                            </th>
                            <th>
                                {{sucursal.municipio.nombre}}
                            </th>
                            <th>
                                {{sucursal.departamento.nombre}}
                            </th>
                            
                            <th>
                                <input type="number"   [id]="'longitud-' + sucursal.idSucursal" value="{{sucursal.longitud}}" >
                                  
                            </th>
                            <th>
                                <input type="number"   [id]="'latitud-' + sucursal.idSucursal" value="{{sucursal.latitud}}" >
                                  
                            </th>
                            <th>
                                <select  class="custom-select"  [id]="'enlace-' + sucursal.idSucursal"  >
                                    <option *ngIf="sucursal.esEnlace == true" selected [value]="true">Activo</option>
                                    <option *ngIf="sucursal.esEnlace == true"  [value]="false">Inactivo</option>

                                    <option *ngIf="sucursal.esEnlace == false" selected [value]="false">inactivo</option>
                                    <option *ngIf="sucursal.esEnlace == false"  [value]="true">Activo</option>

                                </select>
                            </th>

                            <th>

                                <select  class="custom-select" [id]="'estado-' + sucursal.idSucursal"    >
                                    <option *ngIf="sucursal.estado == true" selected [value]="true">Activo</option>
                                    <option *ngIf="sucursal.estado == true"  [value]="false">Inactivo</option>

                                    <option *ngIf="sucursal.estado == false" selected [value]="false">Inactivo</option>
                                    <option *ngIf="sucursal.estado == false"  [value]="true">Activo</option>

                                </select>
                            </th>
                            <th>
                                <button type="button" (click)="updateSucursal(sucursal.idSucursal)" class="btn btn-warning">Guardar</button>
                            </th>


                        </tr>











                    </tbody>
                </table>



            </div>
            <app-map></app-map>


    </div>
