<form class="form">

    <div>
        <h1>Dashboard del mes</h1>        
        <p>Se analizara sobre el primero del mes de esa fecha hasta la misma fecha</p>
    </div>

    <!-- Textbox para indicar la Cantidad de Vehiculos -->
    <div class="form-group">
        <label for="fechaAnalizar">Fecha Limite</label>
        <input type="date" id="fechaAnalizar" name="fechaAnalizar" [(ngModel)]="fechaAnalizar" class="form-control" required>
    </div>
  
    <div>
        <!-- Botón para enviar el formulario (puedes agregar lógica según tus necesidades) -->
        <button type="button" (click)="enviarFormulario()" class="btn btn-primary enviar">Enviar</button>
    </div>
</form>

<div class="prediccion">
    <h1>Dashboard del Mes</h1>

    <div>        
        <div class="graph">
            <h2>Datos generales</h2>
            <ngx-charts-number-card
            [results]="datosgenerales"
            [view]="view"
            [cardColor]="cardColor"            
            >
            </ngx-charts-number-card>
        </div>

        <!-- 
        <div class="graph">
            <h3>Grafico de ganancias y gastos</h3>
            <ngx-charts-line-chart
              [view]="view2"              
              [legend]="legend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxis]="xAxis"
              [yAxis]="yAxis"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              [timeline]="timeline"
              [results]="multi"
              (select)="onSelect($event)"
              (activate)="onActivate($event)"
              (deactivate)="onDeactivate($event)"
              >
            </ngx-charts-line-chart>
        </div>
        -->

        <div class="graph">
            <h3>Grafico de gastos generales</h3>
            <ngx-charts-pie-chart
              [view]="view"              
              [results]="datosgastosgenerales"              
              [legend]="showLegend"              
              [labels]="showLabels3"
              [doughnut]="isDoughnut"
              (select)="onSelect2($event)"
              (activate)="onActivate2($event)"
              (deactivate)="onDeactivate2($event)"
              >
            </ngx-charts-pie-chart>
        </div>

        <div class="graph">
            <h3>Grafico de gastos especiales</h3>
            <ngx-charts-pie-chart
              [view]="view"              
              [results]="datosgastosespeciales"              
              [legend]="showLegend"              
              [labels]="showLabels3"
              [doughnut]="isDoughnut"
              (select)="onSelect2($event)"
              (activate)="onActivate2($event)"
              (deactivate)="onDeactivate2($event)"
              >
            </ngx-charts-pie-chart>
        </div>

        <div class="graph">
            <h3>Sucursales con mas ganancias</h3>
            <ngx-charts-bar-vertical
              [view]="view4"              
              [results]="datossucursalesganancias"
              [gradient]="gradient4"
              [xAxis]="showXAxis4"
              [yAxis]="showYAxis4"
              [legend]="showLegend4"
              [showXAxisLabel]="showXAxisLabel4"
              [showYAxisLabel]="showYAxisLabel4"
              [xAxisLabel]="xAxisLabel4"
              [yAxisLabel]="yAxisLabel4"
              (select)="onSelect($event)">
            </ngx-charts-bar-vertical>
        </div>

        <div class="graph">
            <h3>Sucursales con menos ganancias</h3>
            <ngx-charts-bar-vertical
              [view]="view4"              
              [results]="datossucursalesmenosganancias"
              [gradient]="gradient4"
              [xAxis]="showXAxis4"
              [yAxis]="showYAxis4"
              [legend]="showLegend4"
              [showXAxisLabel]="showXAxisLabel4"
              [showYAxisLabel]="showYAxisLabel4"
              [xAxisLabel]="xAxisLabel4"
              [yAxisLabel]="yAxisLabel4"
              (select)="onSelect($event)">
            </ngx-charts-bar-vertical>
        </div>
    </div>
</div>