<form [formGroup]="personalForm" (ngSubmit)="onSubmit()">

    <div class="container">
        <br><br><br><br><br>
            <!-- Otros campos de formulario si los tienes -->
            <div class="centered-content" formGroupName="personal">
                <h2>Agregar personal</h2>
    
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>
                                Sucursal:
                            </th>
                            <th >
                                <select class="custom-select" id="sucursal_id" required formControlName="sucursal_id">
                                    <option [ngValue]="1" >Xela</option>
                                    <option [ngValue]="2" >Peten</option>
                                </select>
                            </th>
                        </tr>
                        <tr>
                            <br>
                        </tr>
                        <tr>
                            <th>
                                Nombre:
                            </th>
                            <th >
                                <input type="text" class="form-control" required  formControlName="nombre" placeholder="Jhon">
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Appelido:
                            </th>
                            <th >
                                <input type="text" class="form-control" required formControlName="apellido" placeholder="Guzman">
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Rol:
                            </th>
                            <th >
                                <select class="custom-select" id="sucursal_id" required formControlName="sucursal_id">
                                    <option [ngValue]="1" >Secretaria/o</option>
                                    <option [ngValue]="2" >Bodega</option>
                                    <option [ngValue]="3" >Conserje</option>
                                    <option [ngValue]="4" >Operacion de logistica</option>
                                    <option [ngValue]="5" >Guardia</option>
                                    <option [ngValue]="6" >Piloto</option>
                                    <option [ngValue]="7" >Auxiliar piloto</option>
                                    <option [ngValue]="8" >Gerente</option>
                                </select>
                            </th>
                        </tr>


                        
                        <tr>
                            <th></th>
                            <th><button class="btn btn-info"  type="submit">Enviar</button></th>
                        </tr>
                        
                        <tr>
                            <div *ngIf="flag == 2" class="alert alert-success" role="alert">
                                <h4 class="alert-heading">Bien hecho!</h4>
                                <p>Envio exitoso</p>
                                <hr>
                                <p class="mb-0"></p>
                              </div>
                              <div *ngIf="flag == 1" class="alert alert-danger" role="alert">
                                <h4 class="alert-heading">Llena los todos los campos!</h4>
                                <p>sin enviar</p>
                                <hr>
                                <p class="mb-0"></p>
                              </div>
    
                        </tr>
    
    
    
    
    
    
    
    
                    </tbody>
                </table>
    
                
    
            </div>
            <app-map></app-map>
            
          
    </div>
    
    </form>