<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" >Servicio Postal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="#">Simular<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Variables
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" *ngIf="isAdmin || isUser" href="variables">Editar Variables</a>
            <a class="dropdown-item" *ngIf="isLogOut">Necesitas Iniciar session para editar variables</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Envio
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" *ngIf="isAdmin || isUser" href="create_ship">Crear Envio</a>
            <a class="dropdown-item" *ngIf="isLogOut">Necesitas Iniciar session para realizar envios</a>
            <a class="dropdown-item" *ngIf="isAdmin" routerLink="editar-envio">Listar envios</a>
            <a class="dropdown-item" *ngIf="isUser" routerLink="mis-envio">Listar mis envios</a>
          </div>
        </li>

        <li class="nav-item dropdown" *ngIf="isAdmin">
          <a class="nav-link dropdown-toggle" href="#" id="navBarPersona" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Persona
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item"  routerLink="agregar-persona">Nuevo registro</a>
            <a class="dropdown-item"  routerLink="editar-persona">Editar persona</a>
          </div>
        </li>

        <li class="nav-item dropdown" *ngIf="isAdmin">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sucursales
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

            <a class="dropdown-item" href="agregar-sucursal">Agregar sucursal</a>
            <a class="dropdown-item" href="editar-sucursal">Editar sucursal</a>
          </div>
        </li>


        <li class="nav-item dropdown" *ngIf="isAdmin">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Vehiculos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

            <a class="dropdown-item" href="agregar-vehiculo">Agregar vehiculo</a>
            <a class="dropdown-item" href="editar-vehiculo">Editar vehiculo</a>
          </div>
        </li>

        <li class="nav-item dropdown" *ngIf="isAdmin">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Rutas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

            <a class="dropdown-item" href="agregar-ruta">Agregar Ruta</a>
            <a class="dropdown-item" href="editar-ruta">Editar Ruta</a>
          </div>
        </li>

        <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mapas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

            <a class="dropdown-item" href="maps">Ver Mapa sucursales</a>
            <a class="dropdown-item" href="maps_live">Ver Mapa de rutas</a>
          </div>
        </li>

        <li class="nav-item dropdown" *ngIf="isAdmin">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Analisis
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

            <a class="dropdown-item" href="analisis-sucursal">Analizar nueva Sucursal</a>
            <!--<a class="dropdown-item" href="analisis-ruta">Analizar nuevas Rutas</a>            -->
            <a class="dropdown-item" href="analisis-vehiculos">Analizar nuevos vehiculos</a>
          </div>
        </li>

        <li class="nav-item dropdown" *ngIf="isAdmin">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Reportes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

            <a class="dropdown-item" href="dashboard">Dashboard del mes</a>
            <!--<a class="dropdown-item" href="excedente">Excedente</a>            -->
            <a class="dropdown-item" href="mov-sucursal">Movimientos por Sucursal</a>
            <a class="dropdown-item" href="mov-vehiculo">Movimientos por Vehiculo</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

            <a class="dropdown-item" href="login">Login</a>
            <a class="dropdown-item" (click)="logout()">Log out</a>

          </div>
        </li>

      </ul>
    </div>
  </nav>
