<h2>Detalle Envio</h2>
<div>
  <table class="tablaSucursalOrigen">
    <thead>
    <label>Variables de experimentacion</label>
    <tr>
      <th>Id</th>
      <th>Descripcion</th>
      <th>Valor</th>
    </tr>
    </thead>
    <tbody>

    <tr>
      <br>
    </tr>
    <tr *ngFor="let variable of variables;let i = index" id="{{i}}">
      <th>
        {{variable.id}}
      </th>
      <th>
        {{variable.descripcion}}
      </th>
      <th>
        
          <br>
          <input type="number" placeholder="Nuevo nombre" [id]="variable.id" [value]="variables[i].valor">
       
      </th>
      <th>
        <button type="submit" (click)="guardar(variable.id,variable.descripcion)">Guardar</button>
      </th>
    </tr>

    </tbody>
  </table>
</div>
